*{
    box-sizing: border-box;
    margin: 0;
}
.locatio-name{
    color: greenyellow;
}
.container-location{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;
}
.card-location{
    background-color: #0d3c3d;
    border-radius: 0.8em;
    display: flex;
    padding: 2rem 1rem 1rem 0;
    width: 500px;
    box-shadow: inset;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.location-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0.5em 1em 0.5em; 
}
.location-value{
    font-weight: 600;
}
.location-name-value{
    padding: 3em;
}
.location-name-asigment{
    color: grey;
}




